@import url('https://fonts.googleapis.com/css2?family=Charm&family=Lobster+Two:ital@1&display=swap');

body {
    background-color: rgb(35, 226, 201);
}

.heading {
    text-align: center;
}

.playground-heading {
    color: rgb(226, 31, 145);
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
}

.main {
    border: 2px solid green; 
    width: 55%;
    margin: 1rem auto;
}

.main div {
    height: 200px;
    width: 200px;
    border:1px solid black;
    border-radius: 50%;
    margin:2rem auto;
}

#pink {
    border-color: rgb(245, 86, 112);
}

#yellow {
    border-color: rgb(255, 255, 0);
}

#orange {
    border-color: rgb(255, 124, 1);
}

.footer {
    font-family: 'Charm', cursive;
    font-size: 2rem;
    text-align: center;
}